body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
main {
  padding: 1rem;
}

.main-header {
  height: 3.5rem;
  background-color: rgb(211, 125, 21);
  padding: 0 1.2rem;
}
.main-neader__nav {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.main-header__item-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.main-header__item {
  margin: 0 1rem;
  padding: 0;
}
.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:active,
.main-header__item a:hover,
.main-header__item a.active {
  color: blueviolet;
}

.centered {
  text-align: center;
}

img {
  max-width: 200px;
}

button,
a.btn {
  border: 1px solid orange;
  background: royalblue;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 6px;
  font-size: 18px;
  text-decoration: none;
}
button:active,
button:hover,
a.btn:hover,
a.btn:active {
  color: rgb(34, 21, 211);
  background: #fff;
}
.mt-1 {
  margin-top: 10px;
}
