.product-form {
  width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
  width: 100%;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid orange;
  border-radius: 2px;
}
button {
  border: 1px solid orange;
  background: royalblue;
  color: #fff;
  border-radius: 2px;
}
button:active,
button:hover {
  color: rgb(34, 21, 211);
  background: #fff;
}
